header{
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #88c0d0;
}

.navigation-map{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation-map>a{
  margin-right: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  transition: color .25s, background-color .25s;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 20px;
}

.navigation-map>a:hover{
  text-decoration: none;
  color: whitesmoke;
  background-color: #537680;
}

.nav-map-logo{
  height: 30px;
  margin-right: 10px;
}

#header-nav {
  display: none;
}

.page-author{
  transition: color .5s;
}

.page-author>a{
  font-size: 30px;
  text-decoration: none;
  font-family: 'Montez', cursive;
  color: black;
  letter-spacing: 2px;
  transition: color .5s;
  text-align: right;
}

.page-author>a:hover{
  color: whitesmoke;
}

