footer{
  flex: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  width: 100%;
  max-height: 40px;
  box-sizing: border-box;
}