footer{
  flex: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
  height: 35px;
  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}