main{
  flex: 85%;
  padding: 100px 150px 10px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  row-gap: 50px;
}

.page-title{
  align-items: center;
  margin: 0 0 0 0;
}

.page-title>h1{
  margin: 0;
  font-size: 35px;
  font-weight: 'GlacialIndifferenceBold';
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.page-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: self-start;
  column-gap: 30px;
}

.author-info{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 20px;
}

.author-detail{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.author-detail>h2{
  margin: 0 0 0 0;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.author-detail>p{
  margin: 0 0 0 0;
  font-size: 20px;
}

.author-address{
  font-size: 20px;
}

.author-contact{
  font-size: 20px;
}

.author-email>a{
  text-decoration: none;
  color: white;
}