.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    background-color: cadetblue;
  }
  
  .navigation-map{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigation-map>a{
    margin-right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    transition: color .5s, background-color .5s;
    border-radius: 5px;
    letter-spacing: 2px;
    font-size: 20px;
  }
  
  .navigation-map>a:hover{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(56, 93, 94); 
  }
  
  .nav-map-logo{
    height: 30px;
    margin-right: 10px;
  }
  
  .page-author{
    transition: color 1s;
  }
  
  .page-author>a{
    padding: 5px;
    font-size: 35px;
    text-decoration: none;
    font-family: 'Montez', cursive;
    color: black;
    letter-spacing: 2px;
    transition: color .5s;
  }
  
  .page-author>a:hover{
    color: whitesmoke;
  }
  
  